In [2]:
def calculate (num1,num2=4):
    res = num1 * num2
    print(res)
    calculate(5,6)

In [5]:
for x in range(0.5, 5.5,0,5):
    print(x)

TypeError: range expected at most 3 arguments, got 4

In [6]:
x =3 / 4* (3+2)*4+2
print(x)

17.0

In [7]:
str ="pynative "
print(str[1:3])

yn

In [10]:
sampleSet={"jodi","eric","Garry"}
sampleSet.add(1,"vicki")
print(sampleSet)

TypeError: set.add() takes exactly one argument (2 given)

var = "james " *2*3
print(var)

In [11]:
  var = "james " *2*3
print(var)

james james james james james james

In [15]:
nabil = "arif" *2*3
print(nabil)

arifarifarifarifarifarif

In [17]:
listone = [20,40,60,80]
listTwo = [20,40,60,80]
print(listone ==  listTwo)
print(listone is listTwo)

True
False

In [18]:
arif1 = 5**2
arif2 = 5**3
print(arif1)
print(arif2)

25
125

In [20]:
 for i in range(10,15,1):
     print(i,end=',')

10,11,12,13,14,

In [21]:
var = "james bond "
print(var[2::-1])

maj

In [23]:
salary = 8000
def printSalary():
    salary = 12000
    print("Salary:" , salary)
    printSalary()
    print("Salary:", Salary )

In [27]:
sampLest =["jon","kelly","jessa"]
sampLest.append(2,"scott")
print(sampLest)

TypeError: list.append() takes exactly one argument (2 given)

In [29]:
for i in range (1,5):
    print(i)
else:
    print("this is else block statement")

1
2
3
4
this is else block statement

In [30]:
p,q,r =10,20,30
print(p,q,r)

10 20 30