 তিনটা সংখ্যার মধ্য বড় সংখ্যা নির্ণয়ের প্রোগ্রাম

In [1]:
 a=int(input("Enter the value of a:"))
b=int(input("Enter the value of b:"))
c=int(input("Enter the value of c:"))
if a>b and a>c:
    print("largest number is a:",a)
elif b>c and b>a: 
    print("largest number is b:",b)
else:
    print("largest number is c:",c)

Enter the value of a: 20
Enter the value of b: 30
Enter the value of c: 40

largest number is c: 40

1+2+3+4+...........................+N সিরিজের  মান বের করার পাইথন  প্রোগ্রাম।

In [4]:
n=int(input("Enter the Range:"))
sum=0
for i in range (1,n+1,1):
    sum=sum+i
    print("The series is:",sum)

Enter the Range: 3

The series is: 1
The series is: 3
The series is: 6

1+3+5+7+...............+N সিরিজের  মান বের করার পাইথন  প্রোগ্রাম।

In [ ]:
n=int(input("Enter the range:"))
sum=0
for i in range (1,n+1,1):
    sum = sum+i
print("The series is:",sum)

2+4+6+8................+N সিরিজের  মান বের  করার পাইথন প্রোগ্রাম।

In [ ]:
n=int(input("Enter the range:"))
sum=0
for i in range(7,n+1,7):
    sum=sum+i
    print("the series is:",sum)

2+4+6+8................+N সিরিজের  মান বের  করার পাইথন প্রোগ্রাম।

In [1]:
n=int(input("Enter the range:"))
sum=0
for i in range(7,n+1,7):
    sum=sum+i
    print("the series is:",sum)

Enter the range: 10

the series is: 7

Fibonacci series বের করার পাইথন প্রোগ্রাম

In [2]:
a=0
b=1
print(a)
print(b)
for x in range(1,5):
    c=a+b
    print(c)
    a=b
    b=c

0
1
1
2
3
5

Leap year  বা অধিবর্ষ বের করার পাইথন প্রোগ্রাম

In [3]:
year=int(input("Enter a year:"))
if((year%4==0 and year%100!=0)or(year%400==0)):
    print("leap year")
else:
    print("Not leap year")

Enter a year: 21

Not leap year

1  থেকে ১০০ পযন্ত  মৌলিক  সংখ্যা  বের করার পাইথন  প্রোগ্রা

In [4]:
number =1
while(number <= 100):
    count = 0
    i = 2
    while(i<= number // 2):
        if(number%i == 0):
            count =count +1 # count =0
            break
        i = i+1
    if(count == 0 and number !=1):
        print(" %d" %number, end = ' ')
    number =number +1

 2  3  5  7  11  13  17  19  23  29  31  37  41  43  47  53  59  61  67  71  73  79  83  89  97

একটি সংখ্যা জোড় না বিজোর তা বের করার পাইথন  প্রোগ্রাম

In [6]:
num=int(input("Enter the input number :"))
if(num%2==0):
    print("the number is even")
else:
    print("the number is odd")

Enter the input number : 20

the number is even

কোন সংখ্যা  Factorial বের করার পাইথন প্রোগ্রাম

In [ ]:

# ARIFUL ISLAM 
num=int(input("Enter a number:"))
factorial=1
if(num==0 or num==1):
    print("The factorial is 1")
elif num<0:
    print("Factorial does Not exist for negative number ")
else:
    for i in range(1,num+1):
    factorial = factorial*i
    print("The factorial of",num,factoral)

কোন সংখ্যা  পজেটিভ না নেগেটিভ  তা বের করার পাইথন  প্রোগ্রাম

In [7]:
# ARIFUL ISLAM 
num=int(input("Enter the number:"))
if(num==0):
    print("the number is zero")
elif(num>0):
    print("the number is positive")
else:
    print("the number is negative ")

Enter the number: 30

the number is positive

ত্রিভুজের ক্ষেত্রফল বের কর Python proram

In [8]:
# ARIFUL ISLAM 
a=float(input("Enter height:"))
b=float(input("Enter Widht:"))
triangle_area=0.5*a*b
print("tringlr area is:",triangle_area)

Enter height: 20
Enter Widht: 20

tringlr area is: 200.0

দুইটি সংখ্যা  অদলবদলের   পাইথন  প্রোগ্রাম

In [9]:
#ARIFUL ISLAM  
a=input("Enter the first number:")
b=input("Enter the second number")
a=b
c=a
b=c
print("the first number is",a)
print("the second number is",b)

Enter the first number: 20
Enter the second number 29

the first number is 29
the second number is 29

দুইটি সংখ্যা  যোগ,বিয়োগ, গুন ও ভাগফল নির্ণয়ের পাইথন  প্রোগ্রাম

In [10]:
# ARIFUL ISLAM 
num1=int(input("Enter the first number:"))
num2=int(input("Enter the second  number:"))
sum=num1+num2
print("the sum is:",sum)
sub=num1-num2
print("the subtaction is :",sub)
mul=num1*num2
print("the multiplication is :",mul)
div=num1/num2
print("the division is:",div)
mod=num1%num2
print("the modulus is:",mod)
floor_div=num1//num2
print("the floor division is:",floor_div)

Enter the first number: 10
Enter the second  number: 20

the sum is: 30
the subtaction is : -10
the multiplication is : 200
the division is: 0.5
the modulus is: 10
the floor division is: 0

দ্বিঘাত সমীকরণ পাইথন প্র্রোগাম

In [11]:
# ARIFUL ISLAM 
import math  
a=int(input("please enter the fast value:"))
b=int(input("please enter the second value:"))
c=int(input("please enter the thrid  value:"))
D=b*b-4*a*c
if D>0:
    x1=-b+math.squrt(d)/2*a
    x2=-b-math.squrt(d)/2*a
    print("Root are real but unequal",x1,x2)
elif D==0:
    x=-b/2*a
print("Root are real and equal",x,x)

please enter the fast value: 20
please enter the second value: 20
please enter the thrid  value: 29

Root are real and equal 4 4

ফারেনহাইট  হতে সেলসিয়াসে রুপান্তরের  পাইথন প্রোগ্রাম

In [ ]:
# ARIFUL ISLAM 
F=float(input("Enter Farenheit temp:"))
C=((f-32)*5)/9
print("the celcuis  Temp is %0.3f%(c)"

বাহুর সত্যতাইপূর্বক বিষমবাহু  বা অসম বাহু ত্রিভুজের ক্ষেত্রফলের পাইথন প্রোগ্রাম

In [2]:
# ARIFUL ISLAM 
input math 
a= int(input("Enter the 1st value:"))
b= int(input("Enter the 2nd value:"))
c= int(input("Enter the 3rd value:"))
if((a+b)>c and (b+c)>a and (a+c)>b):
    s=(a+b+c)/2
    area=math.sqrt9s*(s-a)*(s-b)*(s-c))
    print("the area os %02f"%area)
else:
    print("the traningle is impossible ")

SyntaxError: unmatched ')' (3879889398.py, line 8)

বৃত্তে  ক্ষেত্রফল নির্ণয়ের পাইথন প্রাগাম

In [12]:
# ARIFUL ISLAM 
import math
r=float(input("Enter radius :"))
circle_area=math.pi*r*r
print("Tringle area is :",circle_area)

Enter radius : 20

Tringle area is : 1256.6370614359173

সেলসিয়াস  হতে  ফারেনহাইট রুপান্তরেরে পাইথন  প্রোগ্রাম

In [13]:
#ARIFUL ISLAM  
c=float(input("Enter celcuis temp:"))
f=(9*c)/5+32
print("the Faremheit Temp:",f)

Enter celcuis temp: 20

the Faremheit Temp: 68.0